<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
  </head>
  <body
    style="margin: 0; font-family: Arial, sans-serif; background-color: #f5f7fa"
  >
    <%- include('partials/sidebar.ejs') %>

    <div style="margin-left: 220px">
      <%- include('partials/header.ejs') %>
      <p style="text-align: center;">HELLO ADMIN, WELCOME TO THE MINI E-COMMERCE PLATFORM</p>
    </div>
  </body>
</html>
